@tailwind base;
  @tailwind components;
  @tailwind utilities;



  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      --primary: 221.2 83.2% 53.3%;
      --primary-foreground: 210 40% 98%;
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 221.2 83.2% 53.3%;
      --radius: 0.5rem;

      --bg-opacity: 0.1;
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 217.2 91.2% 59.8%;
      --primary-foreground: 222.2 47.4% 11.2%;
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 224.3 76.3% 48%;
    }
  }
  
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  #noisy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.9;
    z-index: -1;
    background: url('../public/assets/img/background_noisy.webp');
  }
  
  .bg-dot{
    background-image: linear-gradient(to right, hsl(var(--foreground) / var(--bg-opacity)) 1px, transparent 1px), linear-gradient(to bottom, hsl(var(--foreground) / var(--bg-opacity)) 1px, transparent 1px);
    background-size: 6rem 6rem;
    mask-image: radial-gradient(circle at center, black , transparent 70%);
    mask-size: cover;
  }
.bg-resplandor_1{
  background-image: radial-gradient(ellipse 80% 80% at 50% -30%,rgba(33, 136, 177, 0.3),rgba(255,255,255,0));
}

.gradient-experience__1 {
  will-change: transform;
  background-image: linear-gradient(180deg, rgba(33, 136, 177, 0.3), rgba(84, 182, 221, 0.3));
}

.gradient-experience__1_destructive {
  will-change: transform;
  background-image: linear-gradient(180deg, rgba(177, 33, 33, 0.3), rgba(221, 84, 84, 0.3));
}

/* animacion de borde, luz reccore borde */
/* className={cn(
  "fixed left-[50%] top-[50%] border-glow z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background/20 p-6 shadow-lg duration-200 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-lg",
  className
)} */

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


.shadow-inner-white {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.02);
}

.glow {
  box-shadow: 0px 0px 50px 15px hsla(var(--primary) / 0.3),
              0px 0px 20px 5px hsla(var(--primary) / 0.5),
              0px 0px 10px 0px hsla(var(--primary) / 0.8) inset;
}


.glow-soft{
  box-shadow: 0px 0px 100px 15px hsla(var(--primary) / 0.2),
              0px 0px 10px 0px hsla(var(--primary) / 0.2);
}

.glow-soft-destructive{
  box-shadow: 0px 0px 100px 15px hsla(var(--destructive) / 0.4),
              0px 0px 10px 0px hsla(var(--destructive) / 0.4);
}

.glow-input {
  position: relative;
  box-shadow: 0px 0px 20px 5px hsla(var(--primary) / 0.4),
              0px 0px 5px 0px hsla(var(--primary) / 0.8);
  border: 1px solid hsla(var(--primary) / 0.6);
}

.glow-input::before,
.glow-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid hsla(var(--primary) / 0.6);
  box-sizing: border-box;
}

.glow-input::before {
  box-shadow: 0px 0px 20px 5px hsla(var(--primary) / 0.4);
}

.glow-input::after {
  box-shadow: 0px 0px 5px 0px hsla(var(--primary) / 0.8);
}

.text-gradient-loading{
  background-image: linear-gradient(110deg, hsl(var(--foreground)),45%,hsl(var(--background)),55%,hsl(var(--foreground)));
}